<ion-view view-title="'tos'" hide-nav-bar="true">
	<ion-content>
	<div class="card">
		<div class="item item-divider">
			<h3>
				<b><center>Term of service</center></b>
			</h3>
		</div>
		<div class="item item-text-wrap">Here will be the content of
			term and condition of gym guru application.</div>
		<div class="item item-divider">

			<button class="button button-small button-assertive"
				style="width: 122px; height: 35px" ng-click="exit()">Decline</button>
			<button class="button button-small button-positive"
				style="width: 122px; float: right; height: 35px" ng-click="loadLogin()">Accept</button>

		</div>
	</div>
	</ion-content>
</ion-view>